<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sélectionner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sélectionner</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label class="select-label">Ville</ion-label>
        <ion-select [(ngModel)]="selection.villeId" (ionChange)="villeChange()">
          <ion-select-option *ngFor="let c of villeName" [value]="c.id">{{c.nom}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="select-label">Supermarché</ion-label>
        <ion-select [(ngModel)]="selection.marketId" (ionChange)="marketchange()">
          <ion-select-option *ngFor="let c of marketName" [value]="c.id">{{c.nom}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
    <p *ngIf='!selection.marketId' style='text-align: center;'>Sélectionnez votre supermarché<br>
      pour améliorer la lisibilité et<br>
      l’entrée de vos données</p>
  </div>
</ion-content>

<ion-footer class="footerWith">
  <ion-item>
    <ion-button clear style="width: 100%;" ion-button color="primary" [disabled]="!selection.villeId || !selection.marketId"
      (click)="valider()">VALIDER</ion-button>
  </ion-item>
  <p>© Tahitisphère</p>
</ion-footer>
